Hello! 

This is the complete Test with user provided Input.

This is the string variable: "{{ string }}"

This is the int variable: "{{ integer }}"

And this is the list:
[
{% for item in list %}
  {{- item -}},
{% endfor %}
]
